/* ==============================
          GLOBAL STYLES
============================== */

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT VARIABLES */
:root {
  --clr-primary: #28855F;
  --clr-primary-light: rgba(40, 133, 95, 0.08);
  --clr-accent: #f1c40f;
  --clr-dark: #293C45;
  --clr-bg: #fff;
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Merriweather', serif;
}

/* BODY & TYPOGRAPHY */
body {
  font-family: var(--font-body);
  background-color: var(--clr-bg);
  color: var(--clr-dark);
  line-height: 1.6;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}